
    <p>
        Covoiturages disponibles :
      </p>
      
      <table>
        <tr>
          <td>
            <ul>
              <li *ngFor="let trip of trips"> 
                <div>
                  {{trip.depart.ville}} à {{trip.arrive.ville}} pour {{trip.prix}} €
                  <div *ngIf="trip.nbPlaces == 0" class="warning"> 
                    (not available)
                  </div>
                </div>
              </li>
            </ul>
          </td>
        </tr>
      </table>      

