
<div *ngIf ="reponse == false">
  <h2>Inscription</h2>
    <form name="proposeForm" (ngSubmit)="proposeForm.form.valid && onSubmit()" #proposeForm="ngForm">
        <input class="bCreate" [(ngModel)]="newUser.firstname" type="text" name="prenom" placeholder="ex: Alain">
        <input class="bCreate" [(ngModel)]="newUser.lastname" type="text" name="nom" placeholder="ex: Deloin">
      <input class="bCreate" [(ngModel)]="newUser.email" type="text" name="mail" placeholder="ex: covoit@auto.fr">
        <input class="bCreate" [(ngModel)]="newUser.password" type="text" name="password" placeholder="ex: a2b5rr4">
      <input class="bCreate" [(ngModel)]="newUser.age" type="text" name="age" placeholder="ex: 22">
      <input class="bCreate" [(ngModel)]="newUser.car" type="text" name="voiture" placeholder="ex: clio">
      <input class="bCreate" [(ngModel)]="newUser.phone" type="text" name="telephone" placeholder="ex: 0625487984">
      <input class="bValid" type="submit" value="Valider inscription">
    </form> 
    
    <div>
      <p> {{message}} </p>
    </div>
  </div>

  <div *ngIf = "reponse == true">
    {{message}}
  </div>

