<form (ngSubmit)="onSubmit()">
	<p>Inscription : </p>
	<label>Email</label>
	<input type="email" name="mail" placeholder="Mail" [(ngModel)]="mail" required><p></p>
	<label>Nom</label>
	<input type="text" name="nom" placeholder="Nom" [(ngModel)]="nom"><p></p>
	<label>Prénom</label>
	<input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="prenom"><p></p>
	<label>Téléphone</label>
	<input type="phone" name="tel" placeholder="Tel" [(ngModel)]="tel"><p></p>
	<label>Date de naissance</label>
	<input type="number" name="age" placeholder="Age" min="0" [(ngModel)]="age"><p></p>
	<label>Mot de passe</label>
	<input type="password" name="password" placeholder="Mot de passe" [(ngModel)]="motdepasse"><p></p>
	<button type = "Submit">S'inscrire</button>
</form>
<p *ngIf="message">{{message}}</p>