<!--The content below is only a placeholder and can be replaced.-->
<div id="main">
	<div id="header">
	<a href="http://localhost:4200/"><img id="logo" src="https://www.economie.gouv.fr/files/styles/articles_vous_orienter/public/covoiturage_2_910.png?itok=DZBPYZsp" alt="logo"></a>
	<div class="btrajet">
	    <button [routerLink]="[{'outlets':{'trip': ['create']}}]">Créer un trajet</button>
	</div>
	<div id="user"><app-login></app-login></div>
	<h1>Bienvenue sur Covoitauto!</h1>
	</div>

	<div class="trip">
		<h3>En voiture! choisissez votre trajet : </h3>
	    <app-trips-search></app-trips-search>  
	    <app-trips-display></app-trips-display> 
	  	<router-outlet name="trip"></router-outlet> 
	</div>
	<div class="user" >
		<router-outlet></router-outlet>
	</div>
</div>

