<h3>Création d'un trajet :</h3>
<form name="proposeForm" (ngSubmit)="proposeForm.form.valid && onSubmit()" #proposeForm="ngForm">
  	<input class="bCreate" [(ngModel)]="newTrip.cityD" type="text" name="villeD" placeholder="Ville de départ">
  	<input class="bCreate" [(ngModel)]="newTrip.addressD" type="text" name="adresseD" placeholder="Adresse de départ">
	<input class="bCreate" [(ngModel)]="newTrip.cityA" type="text" name="villeA" placeholder="Ville de destination">
  	<input class="bCreate" [(ngModel)]="newTrip.addressA" type="text" name="adresseA" placeholder="Adresse d'arrivée">
	<input class="bCreate" [(ngModel)]="newTrip.date" type="date" name="date" placeholder="Date">
	<input class="bCreate" [(ngModel)]="newTrip.car" type="text" name="voiture" placeholder="Information sur la voiture">
	<input class="bCreate" [(ngModel)]="newTrip.places" type="text" name="nbPlace" placeholder="Nombre de place">
	<input class="bCreate" [(ngModel)]="newTrip.price" type="text" name="prix" placeholder="Prix">
	<input class="bValid" type="submit" value="Créer ce trajet">
</form>

<div *ngIf="newTrip.cityD && newTrip.addressD && newTrip.cityA && newTrip.addressA && newTrip.date && newTrip.places && newTrip.car && newTrip.price" >
		<h3>Le trajet suivant va être créer :</h3> <br>Ville départ : {{newTrip.cityD}} à l'adresse : {{newTrip.addressD}} <br>Ville arrivée : {{newTrip.cityA}}, à l'adresse {{newTrip.addressA}} <br>Date du trajet : {{newTrip.date}}, <br> Information sur la voiture : {{newTrip.car}} <br>Nombre de places disponible : {{newTrip.places}} <br> Prix : {{newTrip.price}}€
		
</div>

<div>
	<p> {{message}} </p>
</div>
