form{
	width: 70%;
	background-color: #2e81b7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form .bSearch{
	width: 22%;
	margin-left: 2%;
	height: 30px;
	background-color: #ffffff;
}

form .bValid{
    float: right;
    margin-left: 2%;
    width: 22%;
    height: 35px;
    background-color: #4caf50;
    border-color: #4caf50;
    border-style: none;
    color : #fff;
}

li{
    list-style-type: none;
    background-color: #e6e6e6;
    margin : 1%;
    width: 80%;
    padding: 1%;
}

.tripFind ul{
    margin-left: 10%;
}

.tripFind li{
    list-style-type: none;
    background-color: #e6e6e6;
    margin : 1%;
    width: 80%;
    padding: 1%;
}

.tripFind .res{
    float: right;
}

.tripFind a{
    background-color: #4caf50;
    text-decoration: none;
    color: #fff;
    padding: 1px 15px;  
}