<h2>Mon profil</h2>

  <label>Nom : </label> {{profile.nom}}<br>
  <label>Prenom :</label> {{profile.prenom}}<br>
  <label>Ville :</label> {{profile.adresse.ville}}<br>
  <label>Telephone :</label> {{profile.telephone}}<br>
  <label>Age :</label> {{profile.age}}<br>
  <label>Adresse mail :</label>{{profile.mail}}<br>
  <label>Changer mot de passe :</label>
  <input [(ngModel)]="profile.password" type="password"><br>

  <label>Mes Vehicules</label><br>

  <button (click)="submit()">Enregistrer les modifications</button>
