<h2>Mon profil</h2>

  <label>Nom : </label> {{model.nom}}<br>
  <label>Prenom :</label> {{model.prenom}}<br>
  <label>Adresse :</label> {{model.adresse}}<br>
  <label>Telephone :</label> {{model.telephone}}<br>
  <label>Age :</label> {{model.age}}<br>
  <label>Adresse mail :</label>{{model.mail}}<br>
  <label>Changer mot de passe :</label>
  <input [(ngModel)]="model.password" type="password"><br>

  <label>Mes Vehicules</label><br>

  <button (click)="submit()">Enregistrer les modifications</button>
